@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

/* ===================================== */
/* ProjectCard.jsx STYLES               */  
/* ===================================== */
.card {
  margin: 1rem auto;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}
